{"openapi":"3.0.0","info":{"title":"Ours Privacy REST API","version":"1.0.0","description":"REST API for programmatic configuration management. Authenticated with Ours Privacy API keys."},"servers":[{"url":"https://app.oursprivacy.com"}],"components":{"securitySchemes":{"apiKey":{"type":"http","scheme":"bearer","description":"Ours Privacy API key"}},"schemas":{},"parameters":{}},"paths":{"/rest/v1/destinations":{"get":{"operationId":"listDestinations","tags":["Destinations"],"x-stainless-method":"destinations.list","security":[{"apiKey":[]}],"description":"List all destinations. Requires scope: destination:list","parameters":[{"schema":{"type":"integer","nullable":true,"description":"Maximum number of items to return. Defaults to 25; values below 1 are clamped to 1 and values above 100 are clamped to 100.","example":25},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","description":"Opaque pagination cursor from pagination.nextCursor in the previous response. Do not decode or modify it. Malformed cursors return 400 Bad Request."},"required":false,"name":"cursor","in":"query"},{"schema":{"type":"string","enum":["Disabled","Enabled"],"description":"Filter destinations by status."},"required":false,"name":"status","in":"query"},{"schema":{"type":"string","enum":["AWSEventBridge","AWSKinesis","AWSLambda","AWSS3","AWSSNS","ActiveCampaignApi","Admitad","AdobeAnalytics","AmazonDSP","Amplitude","AppLovin","ArtsAI","Attentive","Audiohook","AzureBlob","BasisPostback","BeeswaxPostback","BingAds","BingAdsWeb","Braze","ConvertABTestingEvent","Customerio","DatabricksWarehouse","DomoWarehouse","Everflow","Facebook","FacebookAudience","FloodlightSGTM","FullContact","G4Analytics","GA4MeasurementProtocol","GA4ServerProxy","Google","GoogleAds360","GoogleAdsServerContainer","GoogleAudience","GoogleBigQuery","GoogleBigQueryWarehouse","GoogleDataManagerEventIngest","GooglePubSub","GoogleStorage","HTTPCustomRequest","HTTPDestination","Hubspot","IHeartMediaMagellan","Impact","Iterable","Klaviyo","LinkedInAdsCAPI","LiveIntent","LiveRampWarehouse","MNTN","MNTNAudience","Mailchimp","Mixpanel","NextdoorAds","OpenAIAds","OursSyntheticData","Outbrain","Partnerize","Pinterest","Plausible","Podscribe","PostHog","QuantcastCAPI","QuoraAds","Reddit","Rokt","RokuCAPI","SnapchatAdsCapi","Spotify","StackAdaptAPI","Taboola","Tatari","TatariCAPI","TheTradeDesk","TikTok","UniversalAds","VWO","Viant","ViantCAPI","Vibe","VibeAudience","Woopra","XAds","YelpCAPI","Zendesk","ZohoCRM","ZoomInfo"],"description":"Filter destinations by destination type."},"required":false,"name":"type","in":"query"}],"responses":{"200":{"description":"List of destinations","content":{"application/json":{"schema":{"type":"object","properties":{"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","nullable":true},"type":{"type":"string","enum":["AWSEventBridge","AWSKinesis","AWSLambda","AWSS3","AWSSNS","ActiveCampaignApi","Admitad","AdobeAnalytics","AmazonDSP","Amplitude","AppLovin","ArtsAI","Attentive","Audiohook","AzureBlob","BasisPostback","BeeswaxPostback","BingAds","BingAdsWeb","Braze","ConvertABTestingEvent","Customerio","DatabricksWarehouse","DomoWarehouse","Everflow","Facebook","FacebookAudience","FloodlightSGTM","FullContact","G4Analytics","GA4MeasurementProtocol","GA4ServerProxy","Google","GoogleAds360","GoogleAdsServerContainer","GoogleAudience","GoogleBigQuery","GoogleBigQueryWarehouse","GoogleDataManagerEventIngest","GooglePubSub","GoogleStorage","HTTPCustomRequest","HTTPDestination","Hubspot","IHeartMediaMagellan","Impact","Iterable","Klaviyo","LinkedInAdsCAPI","LiveIntent","LiveRampWarehouse","MNTN","MNTNAudience","Mailchimp","Mixpanel","NextdoorAds","OpenAIAds","OursSyntheticData","Outbrain","Partnerize","Pinterest","Plausible","Podscribe","PostHog","QuantcastCAPI","QuoraAds","Reddit","Rokt","RokuCAPI","SnapchatAdsCapi","Spotify","StackAdaptAPI","Taboola","Tatari","TatariCAPI","TheTradeDesk","TikTok","UniversalAds","VWO","Viant","ViantCAPI","Vibe","VibeAudience","Woopra","XAds","YelpCAPI","Zendesk","ZohoCRM","ZoomInfo"],"description":"Destination type. Read responses may include warehouse, cloud-storage, and audience-sync types that are not creatable through POST /rest/v1/destinations."},"status":{"type":"string","enum":["Disabled","Enabled"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string","nullable":true},"settings":{"type":"object","nullable":true},"limitedToSourceIds":{"type":"array","nullable":true,"items":{"type":"string"}},"hashingSalt":{"type":"string","nullable":true}},"required":["id","type","status","createdAt"]}},"pagination":{"type":"object","properties":{"nextCursor":{"type":"string","nullable":true},"hasMore":{"type":"boolean"}},"required":["hasMore"]}},"required":["entities","pagination"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}},"post":{"operationId":"createDestinations","tags":["Destinations"],"x-stainless-method":"destinations.create","security":[{"apiKey":[]}],"description":"Create a new destination. Requires scope: destination:create","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","nullable":true},"type":{"type":"string","enum":["Audiohook","BasisPostback","Outbrain","OursSyntheticData","FullContact","ZoomInfo","TheTradeDesk","Braze","LiveIntent","ConvertABTestingEvent","Customerio","BingAds","BingAdsWeb","HTTPDestination","Woopra","HTTPCustomRequest","Google","GoogleAdsServerContainer","G4Analytics","GA4ServerProxy","GA4MeasurementProtocol","GoogleAds360","Facebook","Mixpanel","Amplitude","TikTok","Reddit","Podscribe","Pinterest","Mailchimp","AWSKinesis","AWSLambda","AWSSNS","GooglePubSub","LinkedInAdsCAPI","ActiveCampaignApi","StackAdaptAPI","Hubspot","Klaviyo","XAds","QuoraAds","SnapchatAdsCapi","Partnerize","NextdoorAds","Tatari","TatariCAPI","Viant","ViantCAPI","Impact","Spotify","Taboola","AmazonDSP","AppLovin","IHeartMediaMagellan","Vibe","GoogleDataManagerEventIngest","Zendesk","Iterable","ArtsAI","QuantcastCAPI","FloodlightSGTM","VWO","Attentive","Admitad","Plausible","PostHog","RokuCAPI","Everflow","BeeswaxPostback","AdobeAnalytics","UniversalAds","OpenAIAds","YelpCAPI","MNTN","ZohoCRM","Rokt"],"description":"Event-dispatch destination type to create. Warehouse, cloud-storage, and audience-sync destination types may appear on read responses but are not creatable through POST. Audience destinations receive audience membership from Audience Builder on a daily schedule and are configured in the dashboard."},"settings":{"type":"object","description":"Per-type configuration keys and values. Call GET /rest/v1/destinations/types to get the valid keys for your destination type.","nullable":true}},"required":["type"]}}}},"responses":{"200":{"description":"Created destination","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","nullable":true},"type":{"type":"string","enum":["AWSEventBridge","AWSKinesis","AWSLambda","AWSS3","AWSSNS","ActiveCampaignApi","Admitad","AdobeAnalytics","AmazonDSP","Amplitude","AppLovin","ArtsAI","Attentive","Audiohook","AzureBlob","BasisPostback","BeeswaxPostback","BingAds","BingAdsWeb","Braze","ConvertABTestingEvent","Customerio","DatabricksWarehouse","DomoWarehouse","Everflow","Facebook","FacebookAudience","FloodlightSGTM","FullContact","G4Analytics","GA4MeasurementProtocol","GA4ServerProxy","Google","GoogleAds360","GoogleAdsServerContainer","GoogleAudience","GoogleBigQuery","GoogleBigQueryWarehouse","GoogleDataManagerEventIngest","GooglePubSub","GoogleStorage","HTTPCustomRequest","HTTPDestination","Hubspot","IHeartMediaMagellan","Impact","Iterable","Klaviyo","LinkedInAdsCAPI","LiveIntent","LiveRampWarehouse","MNTN","MNTNAudience","Mailchimp","Mixpanel","NextdoorAds","OpenAIAds","OursSyntheticData","Outbrain","Partnerize","Pinterest","Plausible","Podscribe","PostHog","QuantcastCAPI","QuoraAds","Reddit","Rokt","RokuCAPI","SnapchatAdsCapi","Spotify","StackAdaptAPI","Taboola","Tatari","TatariCAPI","TheTradeDesk","TikTok","UniversalAds","VWO","Viant","ViantCAPI","Vibe","VibeAudience","Woopra","XAds","YelpCAPI","Zendesk","ZohoCRM","ZoomInfo"],"description":"Destination type. Read responses may include warehouse, cloud-storage, and audience-sync types that are not creatable through POST /rest/v1/destinations."},"status":{"type":"string","enum":["Disabled","Enabled"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string","nullable":true},"settings":{"type":"object","nullable":true},"limitedToSourceIds":{"type":"array","nullable":true,"items":{"type":"string"}},"hashingSalt":{"type":"string","nullable":true}},"required":["id","type","status","createdAt"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}}},"/rest/v1/destinations/{id}":{"get":{"operationId":"findDestinations","tags":["Destinations"],"x-stainless-method":"destinations.retrieve","security":[{"apiKey":[]}],"description":"Find a single destination by ID. Requires scope: destination:find","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Destination details","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","nullable":true},"type":{"type":"string","enum":["AWSEventBridge","AWSKinesis","AWSLambda","AWSS3","AWSSNS","ActiveCampaignApi","Admitad","AdobeAnalytics","AmazonDSP","Amplitude","AppLovin","ArtsAI","Attentive","Audiohook","AzureBlob","BasisPostback","BeeswaxPostback","BingAds","BingAdsWeb","Braze","ConvertABTestingEvent","Customerio","DatabricksWarehouse","DomoWarehouse","Everflow","Facebook","FacebookAudience","FloodlightSGTM","FullContact","G4Analytics","GA4MeasurementProtocol","GA4ServerProxy","Google","GoogleAds360","GoogleAdsServerContainer","GoogleAudience","GoogleBigQuery","GoogleBigQueryWarehouse","GoogleDataManagerEventIngest","GooglePubSub","GoogleStorage","HTTPCustomRequest","HTTPDestination","Hubspot","IHeartMediaMagellan","Impact","Iterable","Klaviyo","LinkedInAdsCAPI","LiveIntent","LiveRampWarehouse","MNTN","MNTNAudience","Mailchimp","Mixpanel","NextdoorAds","OpenAIAds","OursSyntheticData","Outbrain","Partnerize","Pinterest","Plausible","Podscribe","PostHog","QuantcastCAPI","QuoraAds","Reddit","Rokt","RokuCAPI","SnapchatAdsCapi","Spotify","StackAdaptAPI","Taboola","Tatari","TatariCAPI","TheTradeDesk","TikTok","UniversalAds","VWO","Viant","ViantCAPI","Vibe","VibeAudience","Woopra","XAds","YelpCAPI","Zendesk","ZohoCRM","ZoomInfo"],"description":"Destination type. Read responses may include warehouse, cloud-storage, and audience-sync types that are not creatable through POST /rest/v1/destinations."},"status":{"type":"string","enum":["Disabled","Enabled"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string","nullable":true},"settings":{"type":"object","nullable":true},"limitedToSourceIds":{"type":"array","nullable":true,"items":{"type":"string"}},"hashingSalt":{"type":"string","nullable":true}},"required":["id","type","status","createdAt"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}},"patch":{"operationId":"patchDestinations","tags":["Destinations"],"x-stainless-method":"destinations.update","security":[{"apiKey":[]}],"description":"Partially update a destination. Only the fields you send are changed; omitted fields are unchanged. The `settings` object is patch-only: omitted keys keep their current value, and send `null` to clear a specific setting. Requires scope: destination:update","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Server-assigned read-only field. Accepted on PATCH and ignored to support GET -> PATCH round-trips.","readOnly":true},"createdAt":{"type":"string","description":"Server-assigned read-only field. Accepted on PATCH and ignored to support GET -> PATCH round-trips.","readOnly":true},"updatedAt":{"type":"string","description":"Server-assigned read-only field. Accepted on PATCH and ignored to support GET -> PATCH round-trips.","nullable":true,"readOnly":true},"type":{"type":"string","enum":["AWSEventBridge","AWSKinesis","AWSLambda","AWSS3","AWSSNS","ActiveCampaignApi","Admitad","AdobeAnalytics","AmazonDSP","Amplitude","AppLovin","ArtsAI","Attentive","Audiohook","AzureBlob","BasisPostback","BeeswaxPostback","BingAds","BingAdsWeb","Braze","ConvertABTestingEvent","Customerio","DatabricksWarehouse","DomoWarehouse","Everflow","Facebook","FacebookAudience","FloodlightSGTM","FullContact","G4Analytics","GA4MeasurementProtocol","GA4ServerProxy","Google","GoogleAds360","GoogleAdsServerContainer","GoogleAudience","GoogleBigQuery","GoogleBigQueryWarehouse","GoogleDataManagerEventIngest","GooglePubSub","GoogleStorage","HTTPCustomRequest","HTTPDestination","Hubspot","IHeartMediaMagellan","Impact","Iterable","Klaviyo","LinkedInAdsCAPI","LiveIntent","LiveRampWarehouse","MNTN","MNTNAudience","Mailchimp","Mixpanel","NextdoorAds","OpenAIAds","OursSyntheticData","Outbrain","Partnerize","Pinterest","Plausible","Podscribe","PostHog","QuantcastCAPI","QuoraAds","Reddit","Rokt","RokuCAPI","SnapchatAdsCapi","Spotify","StackAdaptAPI","Taboola","Tatari","TatariCAPI","TheTradeDesk","TikTok","UniversalAds","VWO","Viant","ViantCAPI","Vibe","VibeAudience","Woopra","XAds","YelpCAPI","Zendesk","ZohoCRM","ZoomInfo"],"description":"Server-assigned read-only field. Accepted on PATCH and ignored to support GET -> PATCH round-trips.","readOnly":true},"status":{"type":"string","nullable":true,"enum":["Disabled","Enabled"]},"name":{"type":"string","nullable":true},"hashingSalt":{"type":"string","nullable":true},"limitedToSourceIds":{"type":"array","nullable":true,"items":{"type":"string"}},"settings":{"type":"object","description":"Per-type configuration keys and values. Call GET /rest/v1/destinations/types to get the valid keys for your destination type.","nullable":true}}}}}},"responses":{"200":{"description":"Updated destination","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","nullable":true},"type":{"type":"string","enum":["AWSEventBridge","AWSKinesis","AWSLambda","AWSS3","AWSSNS","ActiveCampaignApi","Admitad","AdobeAnalytics","AmazonDSP","Amplitude","AppLovin","ArtsAI","Attentive","Audiohook","AzureBlob","BasisPostback","BeeswaxPostback","BingAds","BingAdsWeb","Braze","ConvertABTestingEvent","Customerio","DatabricksWarehouse","DomoWarehouse","Everflow","Facebook","FacebookAudience","FloodlightSGTM","FullContact","G4Analytics","GA4MeasurementProtocol","GA4ServerProxy","Google","GoogleAds360","GoogleAdsServerContainer","GoogleAudience","GoogleBigQuery","GoogleBigQueryWarehouse","GoogleDataManagerEventIngest","GooglePubSub","GoogleStorage","HTTPCustomRequest","HTTPDestination","Hubspot","IHeartMediaMagellan","Impact","Iterable","Klaviyo","LinkedInAdsCAPI","LiveIntent","LiveRampWarehouse","MNTN","MNTNAudience","Mailchimp","Mixpanel","NextdoorAds","OpenAIAds","OursSyntheticData","Outbrain","Partnerize","Pinterest","Plausible","Podscribe","PostHog","QuantcastCAPI","QuoraAds","Reddit","Rokt","RokuCAPI","SnapchatAdsCapi","Spotify","StackAdaptAPI","Taboola","Tatari","TatariCAPI","TheTradeDesk","TikTok","UniversalAds","VWO","Viant","ViantCAPI","Vibe","VibeAudience","Woopra","XAds","YelpCAPI","Zendesk","ZohoCRM","ZoomInfo"],"description":"Destination type. Read responses may include warehouse, cloud-storage, and audience-sync types that are not creatable through POST /rest/v1/destinations."},"status":{"type":"string","enum":["Disabled","Enabled"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string","nullable":true},"settings":{"type":"object","nullable":true},"limitedToSourceIds":{"type":"array","nullable":true,"items":{"type":"string"}},"hashingSalt":{"type":"string","nullable":true}},"required":["id","type","status","createdAt"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}},"delete":{"operationId":"deleteDestinations","tags":["Destinations"],"x-stainless-method":"destinations.delete","security":[{"apiKey":[]}],"description":"Delete a destination. Requires scope: destination:delete","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Deleted successfully","content":{"application/json":{"schema":{"type":"boolean"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}}},"/rest/v1/destinations/types":{"get":{"operationId":"getDestinationTypes","tags":["Destinations"],"x-stainless-method":"destinations.types","security":[{"apiKey":[]}],"description":"Lists every destination type the platform supports, with its human-readable label, capability flags (oauth, listsAccounts, supportsRenamedEvents), and the settings descriptor used to configure a destination of that type. Account-agnostic — the response is the same for every API key. Filter client-side to find a specific type (e.g. `Klaviyo`, `Facebook`). Requires scope: destination:list","responses":{"200":{"description":"Destination types with settings descriptors and capabilities","content":{"application/json":{"schema":{"type":"object","properties":{"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","enum":["Audiohook","BasisPostback","Outbrain","OursSyntheticData","FullContact","ZoomInfo","TheTradeDesk","Braze","LiveIntent","ConvertABTestingEvent","Customerio","BingAds","BingAdsWeb","HTTPDestination","Woopra","HTTPCustomRequest","Google","GoogleAdsServerContainer","G4Analytics","GA4ServerProxy","GA4MeasurementProtocol","GoogleAds360","Facebook","Mixpanel","Amplitude","TikTok","Reddit","Podscribe","Pinterest","Mailchimp","AWSKinesis","AWSLambda","AWSSNS","GooglePubSub","LinkedInAdsCAPI","ActiveCampaignApi","StackAdaptAPI","Hubspot","Klaviyo","XAds","QuoraAds","SnapchatAdsCapi","Partnerize","NextdoorAds","Tatari","TatariCAPI","Viant","ViantCAPI","Impact","Spotify","Taboola","AmazonDSP","AppLovin","IHeartMediaMagellan","Vibe","GoogleDataManagerEventIngest","Zendesk","Iterable","ArtsAI","QuantcastCAPI","FloodlightSGTM","VWO","Attentive","Admitad","Plausible","PostHog","RokuCAPI","Everflow","BeeswaxPostback","AdobeAnalytics","UniversalAds","OpenAIAds","YelpCAPI","MNTN","ZohoCRM","Rokt"]},"label":{"type":"string"},"status":{"type":"string","enum":["deprecated","ga"]},"capabilities":{"type":"object","properties":{"oauth":{"type":"boolean"},"listsAccounts":{"type":"boolean"},"supportsRenamedEvents":{"type":"boolean"}},"required":["oauth","listsAccounts","supportsRenamedEvents"]},"settings":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"key":{"type":"string"},"type":{"type":"string","enum":["Alert"]},"label":{"type":"string","description":"Informational display message only. Do not send this key in POST or PATCH settings."}},"required":["key","type","label"],"additionalProperties":false},{"type":"object","properties":{"key":{"type":"string"},"type":{"type":"string","enum":["Select"]},"label":{"type":"string"},"sublabel":{"type":"string","nullable":true},"required":{"type":"boolean","nullable":true},"options":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string"},"value":{"type":"string"}},"required":["label","value"]}},"defaultValue":{"type":"string","nullable":true}},"required":["key","type","label","options"],"additionalProperties":false},{"type":"object","properties":{"key":{"type":"string"},"type":{"type":"string","enum":["Switch"]},"label":{"type":"string"},"required":{"type":"boolean","nullable":true},"sublabel":{"type":"string","nullable":true},"defaultValue":{"type":"boolean","nullable":true}},"required":["key","type","label"],"additionalProperties":false},{"type":"object","properties":{"key":{"type":"string"},"type":{"type":"string","enum":["GenericOauth"]},"label":{"type":"string"},"sublabel":{"type":"string","nullable":true}},"required":["key","type","label"],"additionalProperties":false},{"type":"object","properties":{"key":{"type":"string"},"type":{"anyOf":[{"type":"string","enum":["Text"]},{"type":"string","enum":["Secret"]}]},"label":{"type":"string"},"sublabel":{"type":"string","nullable":true},"placeholder":{"type":"string"},"required":{"type":"boolean","nullable":true}},"required":["key","type","label","placeholder"],"additionalProperties":false}]}}},"required":["id","label","status","capabilities","settings"]}}},"required":["entities"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}}},"/rest/v1/destinations/{id}/health":{"get":{"operationId":"healthDestinations","tags":["Destinations"],"x-stainless-method":"destinations.health","security":[{"apiKey":[]}],"description":"Snapshot of dispatch health for this destination over the trailing 24 hours: counts of succeeded, failed, and intentionally stopped/blocked dispatches, plus a derived `status`. Requires scope: destination:find","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Dispatch health snapshot for the destination","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["DEGRADED","HEALTHY","NO_DATA","UNHEALTHY"],"description":"HEALTHY (>=95% of decisive dispatches succeeded), DEGRADED (50-95%), UNHEALTHY (<50%), or NO_DATA (no succeeded/failed dispatches in the window)."},"windowStart":{"type":"string","description":"Start of the snapshot window (ISO 8601)."},"windowEnd":{"type":"string","description":"End of the snapshot window (ISO 8601)."},"totalDispatches":{"type":"number","description":"All dispatch attempts in the window, including stopped/blocked ones."},"successCount":{"type":"number"},"failureCount":{"type":"number"},"stoppedCount":{"type":"number","description":"Dispatches intentionally stopped before send (not a failure)."},"globalStopCount":{"type":"number","description":"Dispatches blocked by an account-wide dispatch rule (not a failure)."},"successRate":{"type":"number","nullable":true,"description":"successCount / (successCount + failureCount). Null when there were no succeeded/failed dispatches in the window."},"lastDispatchedAt":{"type":"string","nullable":true,"description":"Timestamp of the most recent dispatch attempt to this destination, if any."}},"required":["status","windowStart","windowEnd","totalDispatches","successCount","failureCount","stoppedCount","globalStopCount"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}}},"/rest/v1/sources":{"get":{"operationId":"listSources","tags":["Sources"],"x-stainless-method":"sources.list","security":[{"apiKey":[]}],"description":"List all sources for this account. Supports cursor pagination and optional filters for `type`, `status`, and `nameContains`. Results are sorted by creation date descending. Requires scope: source:list","parameters":[{"schema":{"type":"integer","nullable":true,"description":"Maximum number of items to return. Defaults to 25; values below 1 are clamped to 1 and values above 100 are clamped to 100.","example":25},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","description":"Opaque pagination cursor from pagination.nextCursor in the previous response. Do not decode or modify it. Malformed cursors return 400 Bad Request."},"required":false,"name":"cursor","in":"query"},{"schema":{"type":"string","enum":["AlchemerWebhook","AndroidNativeApi","Branch","CSharpApi","CalComWebhooks","CalendlyWebhook","CallRail","CallTrackingMetrics","DotNetApi","FacebookLeadAds","FormsortWebhooks","Formstack","GoLangApi","HTTPApiSource","Healthie","Heyflow","HubspotAppActions","HubspotFormWebhook","JotFormWebhooks","KotlinApi","NodejsApi","PHPApi","PixelImage","PythonApi","ReactNativeApi","RedirectSource","RubyApi","SegmentWebPlugin","TypeformWebhooks","WebSource","Webhook","WhatConverts","iOSNativeApi"],"description":"Filter by source type."},"required":false,"name":"type","in":"query"},{"schema":{"type":"string","enum":["Disabled","Enabled"],"description":"Filter by source status."},"required":false,"name":"status","in":"query"},{"schema":{"type":"string","description":"Case-insensitive substring filter on the source name."},"required":false,"name":"nameContains","in":"query"}],"responses":{"200":{"description":"Paginated list of sources","content":{"application/json":{"schema":{"type":"object","properties":{"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","nullable":true},"type":{"type":"string","enum":["AlchemerWebhook","AndroidNativeApi","Branch","CSharpApi","CalComWebhooks","CalendlyWebhook","CallRail","CallTrackingMetrics","DotNetApi","FacebookLeadAds","FormsortWebhooks","Formstack","GoLangApi","HTTPApiSource","Healthie","Heyflow","HubspotAppActions","HubspotFormWebhook","JotFormWebhooks","KotlinApi","NodejsApi","PHPApi","PixelImage","PythonApi","ReactNativeApi","RedirectSource","RubyApi","SegmentWebPlugin","TypeformWebhooks","WebSource","Webhook","WhatConverts","iOSNativeApi"]},"status":{"type":"string","enum":["Disabled","Enabled"]},"createdAt":{"type":"string"},"accountId":{"type":"string","description":"Organization id that owns this source."},"isPublished":{"type":"boolean","description":"Whether this source exists in the currently published version. A source that is not published will not accept events.","nullable":true},"lastTriggeredAt":{"type":"string","description":"ISO-8601 timestamp of the most recent inbound request received by this source. Useful for debugging \"is my webhook even reaching us?\"","nullable":true},"lastDispatchedAt":{"type":"string","description":"ISO-8601 timestamp of the most recent event from this source successfully dispatched to a destination.","nullable":true},"selectedAccountId":{"type":"string","nullable":true},"whitelistDomains":{"type":"array","nullable":true,"items":{"type":"string"},"description":"Limits which domains can send events to the CDP. When set, only requests from these domains are accepted for this source. Separate from experiment settings `whitelistDomains`, which limits which domains can load your experiments."},"whitelistIps":{"type":"array","nullable":true,"items":{"type":"string"}},"botControlMode":{"type":"string","nullable":true},"botScoreThreshold":{"type":"number","nullable":true},"excludeRequestContext":{"type":"boolean","nullable":true},"redirectUrl":{"type":"string","nullable":true},"projectAPIKey":{"type":"string","nullable":true},"probabilisticIdentity":{"type":"object","nullable":true}},"required":["id","type","status","createdAt","accountId"]}},"pagination":{"type":"object","properties":{"nextCursor":{"type":"string","nullable":true},"hasMore":{"type":"boolean"}},"required":["hasMore"]}},"required":["entities","pagination"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}},"post":{"operationId":"createSources","tags":["Sources"],"x-stainless-method":"sources.create","security":[{"apiKey":[]}],"description":"Create a new source. Returns the full source entity (same shape as GET /sources/{id}) so callers can read all server-assigned fields without a follow-up GET. Requires scope: source:create","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","nullable":true},"type":{"type":"string","enum":["AlchemerWebhook","AndroidNativeApi","Branch","CSharpApi","CalComWebhooks","CalendlyWebhook","CallRail","CallTrackingMetrics","DotNetApi","FacebookLeadAds","FormsortWebhooks","Formstack","GoLangApi","HTTPApiSource","Healthie","Heyflow","HubspotAppActions","HubspotFormWebhook","JotFormWebhooks","KotlinApi","NodejsApi","PHPApi","PixelImage","PythonApi","ReactNativeApi","RedirectSource","RubyApi","SegmentWebPlugin","TypeformWebhooks","WebSource","Webhook","WhatConverts","iOSNativeApi"]},"redirectUrl":{"type":"string","description":"Destination URL for a RedirectSource (short link). Ignored by other source types. Must be a valid http(s) URL.","nullable":true}},"required":["type"]}}}},"responses":{"200":{"description":"Created source","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","nullable":true},"type":{"type":"string","enum":["AlchemerWebhook","AndroidNativeApi","Branch","CSharpApi","CalComWebhooks","CalendlyWebhook","CallRail","CallTrackingMetrics","DotNetApi","FacebookLeadAds","FormsortWebhooks","Formstack","GoLangApi","HTTPApiSource","Healthie","Heyflow","HubspotAppActions","HubspotFormWebhook","JotFormWebhooks","KotlinApi","NodejsApi","PHPApi","PixelImage","PythonApi","ReactNativeApi","RedirectSource","RubyApi","SegmentWebPlugin","TypeformWebhooks","WebSource","Webhook","WhatConverts","iOSNativeApi"]},"status":{"type":"string","enum":["Disabled","Enabled"]},"createdAt":{"type":"string"},"accountId":{"type":"string","description":"Organization id that owns this source."},"isPublished":{"type":"boolean","description":"Whether this source exists in the currently published version. A source that is not published will not accept events.","nullable":true},"lastTriggeredAt":{"type":"string","description":"ISO-8601 timestamp of the most recent inbound request received by this source. Useful for debugging \"is my webhook even reaching us?\"","nullable":true},"lastDispatchedAt":{"type":"string","description":"ISO-8601 timestamp of the most recent event from this source successfully dispatched to a destination.","nullable":true},"selectedAccountId":{"type":"string","nullable":true},"whitelistDomains":{"type":"array","nullable":true,"items":{"type":"string"},"description":"Limits which domains can send events to the CDP. When set, only requests from these domains are accepted for this source. Separate from experiment settings `whitelistDomains`, which limits which domains can load your experiments."},"whitelistIps":{"type":"array","nullable":true,"items":{"type":"string"}},"botControlMode":{"type":"string","nullable":true},"botScoreThreshold":{"type":"number","nullable":true},"excludeRequestContext":{"type":"boolean","nullable":true},"redirectUrl":{"type":"string","nullable":true},"projectAPIKey":{"type":"string","nullable":true},"probabilisticIdentity":{"type":"object","nullable":true}},"required":["id","type","status","createdAt","accountId"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}}},"/rest/v1/sources/{id}":{"get":{"operationId":"findSources","tags":["Sources"],"x-stainless-method":"sources.retrieve","security":[{"apiKey":[]}],"description":"Find a single source by ID. Requires scope: source:view","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Source details","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","nullable":true},"type":{"type":"string","enum":["AlchemerWebhook","AndroidNativeApi","Branch","CSharpApi","CalComWebhooks","CalendlyWebhook","CallRail","CallTrackingMetrics","DotNetApi","FacebookLeadAds","FormsortWebhooks","Formstack","GoLangApi","HTTPApiSource","Healthie","Heyflow","HubspotAppActions","HubspotFormWebhook","JotFormWebhooks","KotlinApi","NodejsApi","PHPApi","PixelImage","PythonApi","ReactNativeApi","RedirectSource","RubyApi","SegmentWebPlugin","TypeformWebhooks","WebSource","Webhook","WhatConverts","iOSNativeApi"]},"status":{"type":"string","enum":["Disabled","Enabled"]},"createdAt":{"type":"string"},"accountId":{"type":"string","description":"Organization id that owns this source."},"isPublished":{"type":"boolean","description":"Whether this source exists in the currently published version. A source that is not published will not accept events.","nullable":true},"lastTriggeredAt":{"type":"string","description":"ISO-8601 timestamp of the most recent inbound request received by this source. Useful for debugging \"is my webhook even reaching us?\"","nullable":true},"lastDispatchedAt":{"type":"string","description":"ISO-8601 timestamp of the most recent event from this source successfully dispatched to a destination.","nullable":true},"selectedAccountId":{"type":"string","nullable":true},"whitelistDomains":{"type":"array","nullable":true,"items":{"type":"string"},"description":"Limits which domains can send events to the CDP. When set, only requests from these domains are accepted for this source. Separate from experiment settings `whitelistDomains`, which limits which domains can load your experiments."},"whitelistIps":{"type":"array","nullable":true,"items":{"type":"string"}},"botControlMode":{"type":"string","nullable":true},"botScoreThreshold":{"type":"number","nullable":true},"excludeRequestContext":{"type":"boolean","nullable":true},"redirectUrl":{"type":"string","nullable":true},"projectAPIKey":{"type":"string","nullable":true},"probabilisticIdentity":{"type":"object","nullable":true}},"required":["id","type","status","createdAt","accountId"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}},"patch":{"operationId":"patchSources","tags":["Sources"],"x-stainless-method":"sources.update","security":[{"apiKey":[]}],"description":"Partially update a source. Only the fields you send are changed; omitted fields are unchanged. Send explicit `null` to clear a nullable field. Returns the full source entity after the update. Requires scope: source:update","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","nullable":true},"botControlMode":{"type":"string","nullable":true},"botScoreThreshold":{"type":"number","nullable":true},"excludeRequestContext":{"type":"boolean","nullable":true},"name":{"type":"string","nullable":true},"probabilisticIdentity":{"type":"object","nullable":true},"projectAPIKey":{"type":"string","nullable":true},"redirectUrl":{"type":"string","nullable":true},"selectedAccountId":{"type":"string","nullable":true},"whitelistDomains":{"type":"array","nullable":true,"items":{"type":"string"}},"whitelistIps":{"type":"array","nullable":true,"items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Updated source","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","nullable":true},"type":{"type":"string","enum":["AlchemerWebhook","AndroidNativeApi","Branch","CSharpApi","CalComWebhooks","CalendlyWebhook","CallRail","CallTrackingMetrics","DotNetApi","FacebookLeadAds","FormsortWebhooks","Formstack","GoLangApi","HTTPApiSource","Healthie","Heyflow","HubspotAppActions","HubspotFormWebhook","JotFormWebhooks","KotlinApi","NodejsApi","PHPApi","PixelImage","PythonApi","ReactNativeApi","RedirectSource","RubyApi","SegmentWebPlugin","TypeformWebhooks","WebSource","Webhook","WhatConverts","iOSNativeApi"]},"status":{"type":"string","enum":["Disabled","Enabled"]},"createdAt":{"type":"string"},"accountId":{"type":"string","description":"Organization id that owns this source."},"isPublished":{"type":"boolean","description":"Whether this source exists in the currently published version. A source that is not published will not accept events.","nullable":true},"lastTriggeredAt":{"type":"string","description":"ISO-8601 timestamp of the most recent inbound request received by this source. Useful for debugging \"is my webhook even reaching us?\"","nullable":true},"lastDispatchedAt":{"type":"string","description":"ISO-8601 timestamp of the most recent event from this source successfully dispatched to a destination.","nullable":true},"selectedAccountId":{"type":"string","nullable":true},"whitelistDomains":{"type":"array","nullable":true,"items":{"type":"string"},"description":"Limits which domains can send events to the CDP. When set, only requests from these domains are accepted for this source. Separate from experiment settings `whitelistDomains`, which limits which domains can load your experiments."},"whitelistIps":{"type":"array","nullable":true,"items":{"type":"string"}},"botControlMode":{"type":"string","nullable":true},"botScoreThreshold":{"type":"number","nullable":true},"excludeRequestContext":{"type":"boolean","nullable":true},"redirectUrl":{"type":"string","nullable":true},"projectAPIKey":{"type":"string","nullable":true},"probabilisticIdentity":{"type":"object","nullable":true}},"required":["id","type","status","createdAt","accountId"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}},"delete":{"operationId":"deleteSources","tags":["Sources"],"x-stainless-method":"sources.delete","security":[{"apiKey":[]}],"description":"Delete a source. Requires scope: source:delete","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Deleted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"deleted":{"type":"boolean","enum":[true]}},"required":["deleted"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}}},"/rest/v1/sources/{id}/tokens":{"get":{"operationId":"getSourceTokens","tags":["Sources"],"x-stainless-method":"sources.tokens","security":[{"apiKey":[]}],"description":"Returns the install or ingest tokens for a source. The response is a discriminated union on `sourceType`: pixel sources return `{ sourceType: \"pixel\", token, testToken, installScript, testInstallScript }`, and webhook sources return `{ sourceType: \"webhook\", token, testToken, ingestUrl, testIngestUrl, sampleCurl }`. Inspect the source's `type` field (`GET /rest/v1/sources/{id}`) to know which variant to expect. Requires scope: source:view","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Source tokens. The shape depends on the source — pixel/web sources return an `installScript`; webhook sources return an `ingestUrl` and `sampleCurl`. The `sourceType` field discriminates between the two variants.","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"sourceType":{"type":"string","enum":["pixel"],"description":"Discriminator: this is a pixel/web source."},"token":{"type":"string","description":"Install token for the source."},"testToken":{"type":"string","description":"Test-mode token derived from `token`."},"installScript":{"type":"string","description":"Ready-to-paste install snippet for the production token, including linked runtime tokens for supported modules."},"testInstallScript":{"type":"string","description":"Ready-to-paste install snippet for the test token, suitable for validation before a live install."}},"required":["sourceType","token","testToken","installScript","testInstallScript"]},{"type":"object","properties":{"sourceType":{"type":"string","enum":["webhook"],"description":"Discriminator: this is a webhook source."},"ingestUrl":{"type":"string","description":"Production ingest URL for the webhook source."},"testIngestUrl":{"type":"string","description":"Test-mode ingest URL."},"token":{"type":"string","description":"Ingest token embedded in the webhook URL path."},"testToken":{"type":"string","description":"Test-mode ingest token derived from `token`."},"sampleCurl":{"type":"string","description":"Example curl command showing how to POST a sample event to the ingest URL. Copy and run to verify connectivity."}},"required":["sourceType","ingestUrl","testIngestUrl","token","testToken","sampleCurl"]}],"description":"Token data for the source. The `sourceType` field discriminates between pixel sources (web / PixelImage) which return an `installScript`, and webhook sources which return an `ingestUrl` and `sampleCurl` instead. Pixel sources use `installScript` / `testInstallScript` to add the tracking pixel to a website. Webhook sources POST JSON to `ingestUrl` directly."}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}}},"/rest/v1/allowed-events":{"get":{"operationId":"listAllowedEvents","tags":["Allowed Events"],"x-stainless-method":"allowed_events.list","security":[{"apiKey":[]}],"description":"List every allowed event for this account. Allowed events sit between sources and destinations in the dispatch flow — only inbound events whose `event` field matches the `name` of an allowed event (case-insensitive) can be routed to that event's `destinationIds`. Events without a matching allowed event are dropped. The list is not paginated; the per-account count is bounded. System events (names beginning with `$`, e.g. `$heatmap_click`) are hidden from the response — only `$identify` is creatable as an allowed event. Requires scope: allowedEvent:list","responses":{"200":{"description":"List of allowed events","content":{"application/json":{"schema":{"type":"object","properties":{"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Server-assigned UUID for this allowed event."},"name":{"type":"string","description":"Case-insensitive event name. Inbound events whose `event` field matches this value are gated through this allowed event. Reserved: names starting with `$` are system events and cannot be created (except `$identify`)."},"destinationIds":{"type":"array","items":{"type":"string"},"description":"Destinations that receive this event. Empty array means the event is allowed but routed nowhere (effectively dropped). PATCH replaces this list wholesale."},"trigger":{"type":"string","description":"Optional free-form trigger description. Not used by the dispatch pipeline — surfaced in the dashboard so teams can record where each event fires.","nullable":true},"createdAt":{"type":"string","description":"ISO 8601 timestamp when the allowed event was created."},"updatedAt":{"type":"string","description":"ISO 8601 timestamp of the last PATCH. Equal to createdAt on a freshly created event.","nullable":true}},"required":["id","name","destinationIds","createdAt"]}}},"required":["entities"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}},"post":{"operationId":"createAllowedEvents","tags":["Allowed Events"],"x-stainless-method":"allowed_events.create","security":[{"apiKey":[]}],"description":"Create a new allowed event for this account.\n\n- `name` is required, trimmed, case-insensitively unique within the account, and rejected if it exceeds the platform event-name length limit.\n- Names starting with `$` are reserved for system events. Only `$identify` is accepted.\n- `destinationIds` is optional. Unknown ids and ids belonging to other accounts are silently filtered out at write time (the destination must exist on this account to be saved).\n\nReturns the full entity so callers can read the server-assigned `id`, `createdAt`, and the filtered `destinationIds` without a follow-up GET. Known input failures (duplicate name, name length, `$`-prefix reservation, empty name) are returned as HTTP 409 with the reason in the response `error` field. Requires scope: allowedEvent:create","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"destinationIds":{"type":"array","nullable":true,"items":{"type":"string"}}},"required":["name"]}}}},"responses":{"200":{"description":"Created allowed event","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Server-assigned UUID for this allowed event."},"name":{"type":"string","description":"Case-insensitive event name. Inbound events whose `event` field matches this value are gated through this allowed event. Reserved: names starting with `$` are system events and cannot be created (except `$identify`)."},"destinationIds":{"type":"array","items":{"type":"string"},"description":"Destinations that receive this event. Empty array means the event is allowed but routed nowhere (effectively dropped). PATCH replaces this list wholesale."},"trigger":{"type":"string","description":"Optional free-form trigger description. Not used by the dispatch pipeline — surfaced in the dashboard so teams can record where each event fires.","nullable":true},"createdAt":{"type":"string","description":"ISO 8601 timestamp when the allowed event was created."},"updatedAt":{"type":"string","description":"ISO 8601 timestamp of the last PATCH. Equal to createdAt on a freshly created event.","nullable":true},"lastTriggeredAt":{"type":"string","description":"ISO 8601 timestamp of the most recent inbound event observed for this name. Useful for spotting events that were configured but never fired. Null when never observed.","nullable":true},"lastDispatchedAt":{"type":"string","description":"ISO 8601 timestamp of the most recent successful dispatch to any destination on `destinationIds`. Lags `lastTriggeredAt` when consent or governance rules drop the event before dispatch.","nullable":true}},"required":["id","name","destinationIds","createdAt"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"409":{"description":"Conflict — duplicate event name on this account, name too long, name starts with `$` (other than `$identify`), or empty name. Reason is in the response `error` field.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}}},"/rest/v1/allowed-events/{id}":{"get":{"operationId":"findAllowedEvents","tags":["Allowed Events"],"x-stainless-method":"allowed_events.retrieve","security":[{"apiKey":[]}],"description":"Fetch a single allowed event by id. Returns 404 when no record matches the supplied id or it belongs to a different account. Requires scope: allowedEvent:find","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Allowed event details","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Server-assigned UUID for this allowed event."},"name":{"type":"string","description":"Case-insensitive event name. Inbound events whose `event` field matches this value are gated through this allowed event. Reserved: names starting with `$` are system events and cannot be created (except `$identify`)."},"destinationIds":{"type":"array","items":{"type":"string"},"description":"Destinations that receive this event. Empty array means the event is allowed but routed nowhere (effectively dropped). PATCH replaces this list wholesale."},"trigger":{"type":"string","description":"Optional free-form trigger description. Not used by the dispatch pipeline — surfaced in the dashboard so teams can record where each event fires.","nullable":true},"createdAt":{"type":"string","description":"ISO 8601 timestamp when the allowed event was created."},"updatedAt":{"type":"string","description":"ISO 8601 timestamp of the last PATCH. Equal to createdAt on a freshly created event.","nullable":true},"lastTriggeredAt":{"type":"string","description":"ISO 8601 timestamp of the most recent inbound event observed for this name. Useful for spotting events that were configured but never fired. Null when never observed.","nullable":true},"lastDispatchedAt":{"type":"string","description":"ISO 8601 timestamp of the most recent successful dispatch to any destination on `destinationIds`. Lags `lastTriggeredAt` when consent or governance rules drop the event before dispatch.","nullable":true}},"required":["id","name","destinationIds","createdAt"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}},"patch":{"operationId":"patchAllowedEvents","tags":["Allowed Events"],"x-stainless-method":"allowed_events.update","security":[{"apiKey":[]}],"description":"Partially update an allowed event. Only the fields you send are changed; omitted fields keep their current value.\n\n- `destinationIds` is replaced wholesale when sent — the canonical way to add or remove a destination is to fetch, modify the array, and PATCH it back. Stale ids (deleted destinations or destinations on another account) are silently filtered out at write time.\n- `name` is subject to the same rules as create: case-insensitive uniqueness, length cap, `$`-prefix reservation.\n- `trigger` accepts `null` to clear the existing value.\n\nReturns the full entity. Known input failures (duplicate name, length, `$`-prefix, empty name) are returned as HTTP 409 with the reason in the response `error` field. Requires scope: allowedEvent:update","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"New event name. Subject to the same rules as create: case-insensitive uniqueness within the account, max length enforced by the platform, and the `$`-prefix reservation (only `$identify` is allowed). Omit to leave the name unchanged.","nullable":true},"destinationIds":{"type":"array","nullable":true,"items":{"type":"string"},"description":"Destinations that should receive this event. Wholesale replacement — the sent list becomes the new value. Stale IDs (destinations from another account or deleted destinations) are silently filtered out at write time. Send `[]` to gate the event from every destination."},"trigger":{"type":"string","description":"Free-form trigger description shown in the dashboard. Send `null` to clear. Not used by the dispatch pipeline.","nullable":true}}}}}},"responses":{"200":{"description":"Updated allowed event","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Server-assigned UUID for this allowed event."},"name":{"type":"string","description":"Case-insensitive event name. Inbound events whose `event` field matches this value are gated through this allowed event. Reserved: names starting with `$` are system events and cannot be created (except `$identify`)."},"destinationIds":{"type":"array","items":{"type":"string"},"description":"Destinations that receive this event. Empty array means the event is allowed but routed nowhere (effectively dropped). PATCH replaces this list wholesale."},"trigger":{"type":"string","description":"Optional free-form trigger description. Not used by the dispatch pipeline — surfaced in the dashboard so teams can record where each event fires.","nullable":true},"createdAt":{"type":"string","description":"ISO 8601 timestamp when the allowed event was created."},"updatedAt":{"type":"string","description":"ISO 8601 timestamp of the last PATCH. Equal to createdAt on a freshly created event.","nullable":true},"lastTriggeredAt":{"type":"string","description":"ISO 8601 timestamp of the most recent inbound event observed for this name. Useful for spotting events that were configured but never fired. Null when never observed.","nullable":true},"lastDispatchedAt":{"type":"string","description":"ISO 8601 timestamp of the most recent successful dispatch to any destination on `destinationIds`. Lags `lastTriggeredAt` when consent or governance rules drop the event before dispatch.","nullable":true}},"required":["id","name","destinationIds","createdAt"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"409":{"description":"Conflict — name change collides with an existing allowed event on this account, name too long, name starts with `$` (other than `$identify`), or empty name. Reason is in the response `error` field.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}},"delete":{"operationId":"deleteAllowedEvents","tags":["Allowed Events"],"x-stainless-method":"allowed_events.delete","security":[{"apiKey":[]}],"description":"Delete an allowed event. After deletion, inbound events whose `event` field matches the deleted name are no longer routed and are dropped at the allow-list stage of the dispatch flow. Requires scope: allowedEvent:delete","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Deleted successfully","content":{"application/json":{"schema":{"type":"boolean"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}}},"/rest/v1/consent-settings":{"get":{"operationId":"listConsentSettings","tags":["Consent Settings"],"x-stainless-method":"consent_settings.list","security":[{"apiKey":[]}],"description":"List all consent settings. Requires scope: consentSettings:list","responses":{"200":{"description":"List of consent settings","content":{"application/json":{"schema":{"type":"object","properties":{"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Server-assigned UUID for this consent settings record."},"name":{"type":"string","description":"Human-readable name shown in the dashboard."},"kind":{"type":"string","description":"Discriminator for the entity type. Always \"consentSettings\"."},"status":{"type":"string","enum":["Disabled","Enabled"],"description":"Enabled means the CMP serves on whitelisted domains; Disabled means it does not."},"createdAt":{"type":"string","description":"ISO 8601 timestamp when the record was created."},"updatedAt":{"type":"string","description":"ISO 8601 timestamp of the last write. Null on a freshly created record.","nullable":true},"whitelistDomains":{"type":"array","nullable":true,"items":{"type":"string"},"description":"Allowlist of domains where this CMP configuration may run. Used at runtime to derive the broadest matching base domain so consent can persist across matching subdomains."},"consentCookieName":{"type":"string","description":"Name of the cookie that stores the user's consent state. Defaults to \"op_consent\".","nullable":true},"deviceIdCookieName":{"type":"string","description":"Cookie/localStorage key for the visitor (device) ID. Must exactly match the web SDK's cookie_names.device_id (default \"ours_device_id\") so consent and SDK events resolve to the same visitor.","nullable":true},"webSDKToken":{"type":"string","description":"Pixel of the WebSource that this CMP is wired into. Setting this to a token that is not a valid WebSource of yours is rejected; use null to clear the link.","nullable":true},"customDomain":{"type":"string","description":"Optional custom CDN domain for serving the CMP script (e.g. consent.example.com).","nullable":true},"revision":{"type":"number","description":"Revision counter. Bump this to force users who already consented to see the modal again (the SDK compares the persisted revision against this value).","nullable":true},"skipBlockingClassNames":{"type":"array","nullable":true,"items":{"type":"string"},"description":"CSS class names that opt scripts out of consent blocking. Each entry must be a single class token (no whitespace)."},"services":{"type":"array","items":{"type":"object","properties":{"additionalCategories":{"type":"array","nullable":true,"items":{"type":"string"},"description":"Extra category values this service belongs to. Each must match a `categories[].value`."},"category":{"type":"string","description":"Primary category value this service belongs to. Must match one of the top-level `categories[].value` entries.","nullable":true},"domainPatterns":{"type":"array","nullable":true,"items":{"type":"string"},"description":"Domains/paths this service matches. Patterns matching the CMP's own scripts (e.g. cdn.oursprivacy.com/cmp-init) are rejected to prevent the CMP blocking itself — use a more specific path like cdn.oursprivacy.com/main.js to block a specific script."},"internalNotes":{"type":"string","description":"Internal notes shown to admins in the dashboard. Not user-facing."},"label":{"type":"string","description":"Display name for this service in the preferences modal."}},"required":["internalNotes","label"]},"description":"Per-service entries powering \"show vendors\" and category-aware blocking."},"categories":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","description":"Human-readable label shown next to the toggle in the preferences modal."},"priority":{"type":"integer","description":"Sort key. Lower numbers render first. Server re-stamps to 0..N on write — send any integer, gaps and duplicates are ironed out."},"value":{"type":"string","description":"Stable identifier referenced by services and translation sections. Conventionally lowercase (e.g. \"necessary\", \"analytics\", \"advertising\")."}},"required":["label","priority","value"]},"description":"Top-level consent categories (e.g. necessary / analytics / advertising). Server re-stamps `priority` to 0..N on write."},"default":{"type":"object","properties":{"autoShow":{"type":"boolean","description":"When true, the consent modal auto-opens on page load.","nullable":true},"autoShowDismissConfig":{"type":"object","description":"Threshold config for autoShowDismissMode (page count or seconds).","nullable":true},"autoShowDismissMode":{"type":"string","description":"How the modal is treated as dismissed (never, after_pages, after_seconds).","nullable":true},"autoblockUnknown":{"type":"boolean","description":"When true, scripts not classified by services[] are blocked until the user opts in.","nullable":true},"categories":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"Category value (matches `categories[].value`) this entry configures."},"value":{"type":"object","properties":{"autoDisableOnGPC":{"type":"boolean","description":"When true, this category defaults off if the browser sends Sec-GPC: 1.","nullable":true},"enabled":{"type":"boolean","description":"Whether this category is on by default before the user interacts."},"readOnly":{"type":"boolean","description":"When true, the user cannot toggle this category in the preferences modal.","nullable":true},"reloadPage":{"type":"boolean","description":"When true, the page reloads after this category is toggled so newly-allowed scripts can run.","nullable":true}},"required":["enabled"]}},"required":["key","value"]},"description":"Per-category default config for this rule. Every category defined in the top-level `categories[].value` should have an entry here."},"disablePageInteraction":{"type":"boolean","description":"When true, the rest of the page is locked behind a backdrop until the user chooses.","nullable":true},"guiOptions":{"type":"object","description":"Visual options for the modals (layout/position/colors).","nullable":true},"hideFromBots":{"type":"boolean","description":"When true, the modal is suppressed for known bot user agents.","nullable":true},"language":{"type":"string","description":"BCP 47 default language for this rule. Must have a matching entry in `translations`. Examples: \"en\", \"en-US\", \"es\", \"de\".","example":"en"},"mode":{"type":"string","enum":["opt_in","opt_out"],"description":"opt_in: scripts blocked until user accepts (GDPR style). opt_out: scripts run by default until user rejects (CCPA style)."},"showVendorsInPreferences":{"type":"boolean","description":"When true, the per-service list (services[]) is rendered inside the preferences modal.","nullable":true},"translations":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","description":"BCP 47 language tag identifying which translation this entry provides. Examples: \"en\", \"en-US\", \"es\", \"fr-CA\". The default rule's `language` must appear here.","example":"en"},"value":{"type":"object","properties":{"consentModal":{"type":"object","description":"Translated copy for the initial consent modal.","nullable":true},"preferencesModal":{"type":"object","description":"Translated copy for the preferences modal.","nullable":true}}}},"required":["language","value"]},"description":"All UI copy, keyed by language. Must include an entry whose `language` matches the rule's `language` field."}},"required":["categories","language","mode","translations"],"description":"Default rule used when the user is not in any region listed in `regions[]`."},"regions":{"type":"array","items":{"type":"object","properties":{"additionalRegions":{"type":"array","nullable":true,"items":{"type":"string"},"description":"Other region codes that should reuse this rule. Same code-format rules as `regionCode`. Cannot include `regionCode` itself, cannot duplicate, cannot overlap with another rule's regions."},"regionCode":{"type":"string","description":"Region this rule applies to. Use ISO 3166-1 alpha-2 country code (\"US\", \"DE\", \"BR\") or country-subdivision code (\"US-CA\", \"GB-ENG\", \"CA-ON\"). Each region code may appear in only one rule across `regions[]`.","example":"US-CA"},"rule":{"type":"object","properties":{"autoShow":{"type":"boolean","description":"When true, the consent modal auto-opens on page load.","nullable":true},"autoShowDismissConfig":{"type":"object","description":"Threshold config for autoShowDismissMode (page count or seconds).","nullable":true},"autoShowDismissMode":{"type":"string","description":"How the modal is treated as dismissed (never, after_pages, after_seconds).","nullable":true},"autoblockUnknown":{"type":"boolean","description":"When true, scripts not classified by services[] are blocked until the user opts in.","nullable":true},"categories":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"Category value (matches `categories[].value`) this entry configures."},"value":{"type":"object","properties":{"autoDisableOnGPC":{"type":"boolean","description":"When true, this category defaults off if the browser sends Sec-GPC: 1.","nullable":true},"enabled":{"type":"boolean","description":"Whether this category is on by default before the user interacts."},"readOnly":{"type":"boolean","description":"When true, the user cannot toggle this category in the preferences modal.","nullable":true},"reloadPage":{"type":"boolean","description":"When true, the page reloads after this category is toggled so newly-allowed scripts can run.","nullable":true}},"required":["enabled"]}},"required":["key","value"]},"description":"Per-category default config for this rule. Every category defined in the top-level `categories[].value` should have an entry here."},"disablePageInteraction":{"type":"boolean","description":"When true, the rest of the page is locked behind a backdrop until the user chooses.","nullable":true},"guiOptions":{"type":"object","description":"Visual options for the modals (layout/position/colors).","nullable":true},"hideFromBots":{"type":"boolean","description":"When true, the modal is suppressed for known bot user agents.","nullable":true},"language":{"type":"string","description":"BCP 47 default language for this rule. Must have a matching entry in `translations`. Examples: \"en\", \"en-US\", \"es\", \"de\".","example":"en"},"mode":{"type":"string","enum":["opt_in","opt_out"],"description":"opt_in: scripts blocked until user accepts (GDPR style). opt_out: scripts run by default until user rejects (CCPA style)."},"showVendorsInPreferences":{"type":"boolean","description":"When true, the per-service list (services[]) is rendered inside the preferences modal.","nullable":true},"translations":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","description":"BCP 47 language tag identifying which translation this entry provides. Examples: \"en\", \"en-US\", \"es\", \"fr-CA\". The default rule's `language` must appear here.","example":"en"},"value":{"type":"object","properties":{"consentModal":{"type":"object","description":"Translated copy for the initial consent modal.","nullable":true},"preferencesModal":{"type":"object","description":"Translated copy for the preferences modal.","nullable":true}}}},"required":["language","value"]},"description":"All UI copy, keyed by language. Must include an entry whose `language` matches the rule's `language` field."}},"required":["categories","language","mode","translations"]}},"required":["regionCode","rule"]},"description":"Per-region rule overrides. The first rule whose `regionCode`/`additionalRegions` includes the user's region wins; otherwise `default` applies."}},"required":["id","name","kind","status","createdAt","services","categories","default","regions"]}}},"required":["entities"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}},"post":{"operationId":"createConsentSettings","tags":["Consent Settings"],"x-stainless-method":"consent_settings.create","security":[{"apiKey":[]}],"description":"Create a new consent settings record. POST takes no request body — the server initializes the record with defaults (Disabled status, opt-out default rule, English translations, necessary/analytics/advertising categories, no regions, no whitelisted domains). Configure the record afterward with PATCH (partial update) or PUT (full replacement). Returns the same shape as GET so you can read the server-assigned `id`, default rule, and categories without a follow-up fetch. Requires scope: consentSettings:create","responses":{"200":{"description":"Created consent setting","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Server-assigned UUID for this consent settings record."},"name":{"type":"string","description":"Human-readable name shown in the dashboard."},"kind":{"type":"string","description":"Discriminator for the entity type. Always \"consentSettings\"."},"status":{"type":"string","enum":["Disabled","Enabled"],"description":"Enabled means the CMP serves on whitelisted domains; Disabled means it does not."},"createdAt":{"type":"string","description":"ISO 8601 timestamp when the record was created."},"updatedAt":{"type":"string","description":"ISO 8601 timestamp of the last write. Null on a freshly created record.","nullable":true},"whitelistDomains":{"type":"array","nullable":true,"items":{"type":"string"},"description":"Allowlist of domains where this CMP configuration may run. Used at runtime to derive the broadest matching base domain so consent can persist across matching subdomains."},"consentCookieName":{"type":"string","description":"Name of the cookie that stores the user's consent state. Defaults to \"op_consent\".","nullable":true},"deviceIdCookieName":{"type":"string","description":"Cookie/localStorage key for the visitor (device) ID. Must exactly match the web SDK's cookie_names.device_id (default \"ours_device_id\") so consent and SDK events resolve to the same visitor.","nullable":true},"webSDKToken":{"type":"string","description":"Pixel of the WebSource that this CMP is wired into. Setting this to a token that is not a valid WebSource of yours is rejected; use null to clear the link.","nullable":true},"customDomain":{"type":"string","description":"Optional custom CDN domain for serving the CMP script (e.g. consent.example.com).","nullable":true},"revision":{"type":"number","description":"Revision counter. Bump this to force users who already consented to see the modal again (the SDK compares the persisted revision against this value).","nullable":true},"skipBlockingClassNames":{"type":"array","nullable":true,"items":{"type":"string"},"description":"CSS class names that opt scripts out of consent blocking. Each entry must be a single class token (no whitespace)."},"services":{"type":"array","items":{"type":"object","properties":{"additionalCategories":{"type":"array","nullable":true,"items":{"type":"string"},"description":"Extra category values this service belongs to. Each must match a `categories[].value`."},"category":{"type":"string","description":"Primary category value this service belongs to. Must match one of the top-level `categories[].value` entries.","nullable":true},"domainPatterns":{"type":"array","nullable":true,"items":{"type":"string"},"description":"Domains/paths this service matches. Patterns matching the CMP's own scripts (e.g. cdn.oursprivacy.com/cmp-init) are rejected to prevent the CMP blocking itself — use a more specific path like cdn.oursprivacy.com/main.js to block a specific script."},"internalNotes":{"type":"string","description":"Internal notes shown to admins in the dashboard. Not user-facing."},"label":{"type":"string","description":"Display name for this service in the preferences modal."}},"required":["internalNotes","label"]},"description":"Per-service entries powering \"show vendors\" and category-aware blocking."},"categories":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","description":"Human-readable label shown next to the toggle in the preferences modal."},"priority":{"type":"integer","description":"Sort key. Lower numbers render first. Server re-stamps to 0..N on write — send any integer, gaps and duplicates are ironed out."},"value":{"type":"string","description":"Stable identifier referenced by services and translation sections. Conventionally lowercase (e.g. \"necessary\", \"analytics\", \"advertising\")."}},"required":["label","priority","value"]},"description":"Top-level consent categories (e.g. necessary / analytics / advertising). Server re-stamps `priority` to 0..N on write."},"default":{"type":"object","properties":{"autoShow":{"type":"boolean","description":"When true, the consent modal auto-opens on page load.","nullable":true},"autoShowDismissConfig":{"type":"object","description":"Threshold config for autoShowDismissMode (page count or seconds).","nullable":true},"autoShowDismissMode":{"type":"string","description":"How the modal is treated as dismissed (never, after_pages, after_seconds).","nullable":true},"autoblockUnknown":{"type":"boolean","description":"When true, scripts not classified by services[] are blocked until the user opts in.","nullable":true},"categories":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"Category value (matches `categories[].value`) this entry configures."},"value":{"type":"object","properties":{"autoDisableOnGPC":{"type":"boolean","description":"When true, this category defaults off if the browser sends Sec-GPC: 1.","nullable":true},"enabled":{"type":"boolean","description":"Whether this category is on by default before the user interacts."},"readOnly":{"type":"boolean","description":"When true, the user cannot toggle this category in the preferences modal.","nullable":true},"reloadPage":{"type":"boolean","description":"When true, the page reloads after this category is toggled so newly-allowed scripts can run.","nullable":true}},"required":["enabled"]}},"required":["key","value"]},"description":"Per-category default config for this rule. Every category defined in the top-level `categories[].value` should have an entry here."},"disablePageInteraction":{"type":"boolean","description":"When true, the rest of the page is locked behind a backdrop until the user chooses.","nullable":true},"guiOptions":{"type":"object","description":"Visual options for the modals (layout/position/colors).","nullable":true},"hideFromBots":{"type":"boolean","description":"When true, the modal is suppressed for known bot user agents.","nullable":true},"language":{"type":"string","description":"BCP 47 default language for this rule. Must have a matching entry in `translations`. Examples: \"en\", \"en-US\", \"es\", \"de\".","example":"en"},"mode":{"type":"string","enum":["opt_in","opt_out"],"description":"opt_in: scripts blocked until user accepts (GDPR style). opt_out: scripts run by default until user rejects (CCPA style)."},"showVendorsInPreferences":{"type":"boolean","description":"When true, the per-service list (services[]) is rendered inside the preferences modal.","nullable":true},"translations":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","description":"BCP 47 language tag identifying which translation this entry provides. Examples: \"en\", \"en-US\", \"es\", \"fr-CA\". The default rule's `language` must appear here.","example":"en"},"value":{"type":"object","properties":{"consentModal":{"type":"object","description":"Translated copy for the initial consent modal.","nullable":true},"preferencesModal":{"type":"object","description":"Translated copy for the preferences modal.","nullable":true}}}},"required":["language","value"]},"description":"All UI copy, keyed by language. Must include an entry whose `language` matches the rule's `language` field."}},"required":["categories","language","mode","translations"],"description":"Default rule used when the user is not in any region listed in `regions[]`."},"regions":{"type":"array","items":{"type":"object","properties":{"additionalRegions":{"type":"array","nullable":true,"items":{"type":"string"},"description":"Other region codes that should reuse this rule. Same code-format rules as `regionCode`. Cannot include `regionCode` itself, cannot duplicate, cannot overlap with another rule's regions."},"regionCode":{"type":"string","description":"Region this rule applies to. Use ISO 3166-1 alpha-2 country code (\"US\", \"DE\", \"BR\") or country-subdivision code (\"US-CA\", \"GB-ENG\", \"CA-ON\"). Each region code may appear in only one rule across `regions[]`.","example":"US-CA"},"rule":{"type":"object","properties":{"autoShow":{"type":"boolean","description":"When true, the consent modal auto-opens on page load.","nullable":true},"autoShowDismissConfig":{"type":"object","description":"Threshold config for autoShowDismissMode (page count or seconds).","nullable":true},"autoShowDismissMode":{"type":"string","description":"How the modal is treated as dismissed (never, after_pages, after_seconds).","nullable":true},"autoblockUnknown":{"type":"boolean","description":"When true, scripts not classified by services[] are blocked until the user opts in.","nullable":true},"categories":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"Category value (matches `categories[].value`) this entry configures."},"value":{"type":"object","properties":{"autoDisableOnGPC":{"type":"boolean","description":"When true, this category defaults off if the browser sends Sec-GPC: 1.","nullable":true},"enabled":{"type":"boolean","description":"Whether this category is on by default before the user interacts."},"readOnly":{"type":"boolean","description":"When true, the user cannot toggle this category in the preferences modal.","nullable":true},"reloadPage":{"type":"boolean","description":"When true, the page reloads after this category is toggled so newly-allowed scripts can run.","nullable":true}},"required":["enabled"]}},"required":["key","value"]},"description":"Per-category default config for this rule. Every category defined in the top-level `categories[].value` should have an entry here."},"disablePageInteraction":{"type":"boolean","description":"When true, the rest of the page is locked behind a backdrop until the user chooses.","nullable":true},"guiOptions":{"type":"object","description":"Visual options for the modals (layout/position/colors).","nullable":true},"hideFromBots":{"type":"boolean","description":"When true, the modal is suppressed for known bot user agents.","nullable":true},"language":{"type":"string","description":"BCP 47 default language for this rule. Must have a matching entry in `translations`. Examples: \"en\", \"en-US\", \"es\", \"de\".","example":"en"},"mode":{"type":"string","enum":["opt_in","opt_out"],"description":"opt_in: scripts blocked until user accepts (GDPR style). opt_out: scripts run by default until user rejects (CCPA style)."},"showVendorsInPreferences":{"type":"boolean","description":"When true, the per-service list (services[]) is rendered inside the preferences modal.","nullable":true},"translations":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","description":"BCP 47 language tag identifying which translation this entry provides. Examples: \"en\", \"en-US\", \"es\", \"fr-CA\". The default rule's `language` must appear here.","example":"en"},"value":{"type":"object","properties":{"consentModal":{"type":"object","description":"Translated copy for the initial consent modal.","nullable":true},"preferencesModal":{"type":"object","description":"Translated copy for the preferences modal.","nullable":true}}}},"required":["language","value"]},"description":"All UI copy, keyed by language. Must include an entry whose `language` matches the rule's `language` field."}},"required":["categories","language","mode","translations"]}},"required":["regionCode","rule"]},"description":"Per-region rule overrides. The first rule whose `regionCode`/`additionalRegions` includes the user's region wins; otherwise `default` applies."}},"required":["id","name","kind","status","createdAt","services","categories","default","regions"]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized — missing, invalid, or expired API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden — API key does not have the required scope","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["error"]}}}}}}},"/rest/v1/consent-settings/{id}":{"get":{"operationId":"findConsentSettings","tags":["Consent Settings"],"x-stainless-method":"consent_settings.retrieve","security":[{"apiKey":[]}],"description":"Find a single consent setting by ID. Requires scope: consentSettings:find","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Consent Settings details","content":{"application/json":{"schema":{"type":"object","nullable":true,"properties":{"id":{"type":"string","description":"Server-assigned UUID for this consent settings record."},"name":{"type":"string","description":"Human-readable name shown in the dashboard."},"kind":{"type":"string","description":"Discriminator for the entity type. Always \"consentSettings\"."},"status":{"type":"string","enum":["Disabled","Enabled"],"description":"Enabled means the CMP serves on whitelisted domains; Disabled means it does not."},"createdAt":{"type":"string","description":"ISO 8601 timestamp when the record was created."},"updatedAt":{"type":"string","description":"ISO 8601 timestamp of the last write. Null on a freshly created record.","nullable":true},"whitelistDomains":{"type":"array","nullable":true,"items":{"type":"string"},"description":"Allowlist of domains where this CMP configuration may run. Used at runtime to derive the broadest matching base domain so consent can persist across matching subdomains."},"consentCookieName":{"type":"string","description":"Name of the cookie that stores the user's consent state. Defaults to \"op_consent\".","nullable":true},"deviceIdCookieName":{"type":"string","description":"Cookie/localStorage key for the visitor (device) ID. Must exactly match the web SDK's cookie_names.device_id (default \"ours_device_id\") so consent and SDK events resolve to the same visitor.","nullable":true},"webSDKToken":{"type":"string","description":"Pixel of the WebSource that this CMP is wired into. Setting this to a token that is not a valid WebSource of yours is rejected; use null to clear the link.","nullable":true},"customDomain":{"type":"string","description":"Optional custom CDN domain for serving the CMP script (e.g. consent.example.com).","nullable":true},"revision":{"type":"number","description":"Revision counter. Bump this to force users who already consented to see the modal again (the SDK compares the persisted revision against this value).","nullable":true},"skipBlockingClassNames":{"type":"array","nullable":true,"items":{"type":"string"},"description":"CSS class names that opt scripts out of consent blocking. Each entry must be a single class token (no whitespace)."},"services":{"type":"array","items":{"type":"object","properties":{"additionalCategories":{"type":"array","nullable":true,"items":{"type":"string"},"description":"Extra category values this service belongs to. Each must match a `categories[].value`."},"category":{"type":"string","description":"Primary category value this service belongs to. Must match one of the top-level `categories[].value` entries.","nullable":true},"domainPatterns":{"type":"array","nullable":true,"items":{"type":"string"},"description":"Domains/paths this service matches. Patterns matching the CMP's own scripts (e.g. cdn.oursprivacy.com/cmp-init) are rejected to prevent the CMP blocking itself — use a more specific path like cdn.oursprivacy.com/main.js to block a specific script."},"internalNotes":{"type":"string","description":"Internal notes shown to admins in the dashboard. Not user-facing."},"label":{"type":"string","description":"Display name for this service in the preferences modal."}},"required":["internalNotes","label"]},"description":"Per-service entries powering \"show vendors\" and category-aware blocking."},"categories":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","description":"Human-readable label 
[...]
